.cajita{
    border: 1px solid black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 25%;
    height: 100%;
    background-color: #A2AEBB;
}
.main-body{
    flex: 75%;
    height: 100%;
    background-color: #3F88C5;
}

.imgflex{
    margin: auto;
    height: 200px;
    padding-left: 350px;
}